 @font-face {
     font-family: 'Roboto', sans-serif;
     src: url('https://fonts.googleapis.com/css?family=Roboto');
 }
 
 body {
     margin: 0;
     padding: 0;
     background-color: #F5F5F5;
     overflow-x: hidden;
 }
 
 .content {
     display: block;
     margin-top: 15%;
 }
 
 #apresentação {
     color: #424242;
     margin: 0 0 0 30px;
     float: left;
     padding-top: 5%;
 }
 
 #Intro {
     text-align: justify;
     color: #616161;
     float: left;
     width: 500px;
     margin-left: 30px;
 }
 
 .p {
     width: 80%;
 }
 
 .menu {
     padding: 0px;
     width: 100%;
     text-align: center;
     text-transform: uppercase;
     color: #616161;
     font-weight: bold;
     float: left;
 }
 
 #perfil {
     border-radius: 50%;
     width: 25%;
     height: 25%;
     float: left;
     margin-left: 15%;
 }
 
 #apresentação {
     font-size: 5ex;
     color: #424242;
 }
 
 #sobre {
     font-size: 5ex;
     color: #424242;
     text-align: center;
     padding-top: 46%;
 }
 
 .aboutme {
     text-align: justify;
     margin-left: 2%;
     margin-right: 2%;
     color: #616161;
     text-decoration: none;
 }
 
 .menu a {
     color: #424242;
     float: left;
 }
 
 .menu a,
 .menu {
     text-decoration: none;
     list-style: none;
 }
 
 .menu li {
     display: inline;
     padding: 0px;
     float: left;
     text-align: left;
     margin-right: 20px;
     list-style: none;
 }
 
 #história {
     font-size: 5ex;
     color: #424242;
     text-align: center;
 }
 
 .history {
     text-align: justify;
     margin-left: 2%;
     margin-right: 2%;
     color: #616161;
     text-decoration: none;
 }
 
 nav {
     float: left;
     margin-left: 30px;
 }
 
 .nave {
     text-decoration: none;
 }
 
 #futuro {
     font-size: 5ex;
     color: #424242;
     text-align: center;
 }
 
 .future {
     text-align: justify;
     margin-left: 2%;
     margin-right: 2%;
     color: #616161;
     text-decoration: none;
 }
 
 .meudeus {
     position: relative;
     padding: 1%;
     left: 40%;
     color: #F5F5F5;
 }
 
 .textfooter {
     vertical-align: 50%;
 }
 
 .footer {
     width: 100%;
     height: 50px;
     background-color: #424242;
 }